
.main-bg {
    min-height: 150vh;
    height: 150vh;
    min-width: 100%;
    background-color: var(--main-bg);
}

.ballIcon {
    animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
}

@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

footer {
    position: static;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-height: 2vh;
    height: 2vh;
    padding-bottom: 2rem;
    border-top: 1px solid transparent;
    background-color: var(--prime-black);
    color: white;
    bottom: 0px;
}